<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BioStarCSharp.Properties.Settings.BioSoft" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=BioSoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>